/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "assets/css/main.css";
@import "assets/css/theme1.css";
/*@import "assets/plugins/charts-c3/c3.min.css";*/
@import "assets/plugins/sweetalert/sweetalert.css";
/*@import "assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css";*/
/*@import "assets/plugins/dropify/css/dropify.min.css";*/
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-icons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css";
@import '../node_modules/@fullcalendar/core/main.css';
@import '../node_modules/@fullcalendar/daygrid/main.css';
@import '../node_modules/metismenu/dist/metisMenu.css';
