image-server: http://localhost/images/
server:
  port: 8888
  
spring: 

  jpa:
    hibernate:
      naming:
        implicit-strategy:  org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
        physical-strategy:  org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    jdbc-url: jdbc:mysql://localhost:3306/mypayrol_control_db?useUnicode=true&characterEncoding=utf8&useSSL=false&useLegacyDatetimeCode=false&serverTimezone=UTC
    username: root
    password: 
    driver-class-name: com.mysql.jdbc.Driver
    hikari:
      poolName: Hikari
      auto-commit: false
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
        
dir:
  company_logo: C:\\wamp64\\www\\images
  
security:
  jwt:
    key-store: classpath:jwt.jks 
    key-store-password: Welcome123
    key-pair-alias: techadmin
    key-pair-password: Welcome123
 