<nz-tabset>

    <nz-tab nzTitle="Contact & Compliance Info">
        <compliance-info></compliance-info>
    </nz-tab>
    <nz-tab  nzTitle="Branches">
        <branch></branch>
    </nz-tab>
    <nz-tab  nzTitle="Departments">
        <department></department>
    </nz-tab>
        
    <nz-tab  nzTitle="Banks">
        <bank></bank>
    </nz-tab>

    <nz-tab  nzTitle="Financial Year">
        <financial-year></financial-year>
    </nz-tab>

    <nz-tab  nzTitle="Designation">
        <designation></designation>
    </nz-tab>
 
</nz-tabset>